main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.img_book-lover {
    width: 650px;
    /* height: 903px; */
}

.right-side {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 26px;
}

.title__text {
    width: 234px;
    font-size: 24px;
    text-align: center;
    margin-bottom: 30px;
    color: #263238;
}

form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.div-input {
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 6px;
}

label {
    color: #858E97;
}

.div-input__campo-input {
    padding: 12px 16px;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: #CDD4DA;
}

.button-cadastrar {
    width: 400px;
    background-color: var(--verde-principal);
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 700;
    border: solid;
    border-width: 0;
    border-radius: 8px;
    transition: background-color 0.2s ease-in-out;
}

.button-cadastrar:hover {
    background-color: #1DA85F;
}

.button-cadastrar:active {
    background-color: #168B4E;
}

.text__cadastrar {
    color: #858E97;
    margin-top: 20px;
}

.link__entrar {
    color: var(--verde-principal);
    text-decoration: none;
    font-weight: 600;
    transition: color 0.2s ease-in-out;
}

.link__entrar:hover {
    color: #1DA85F;
}

.link__entrar:active {
    color: #168B4E;
}