<main>
    <img class="img_book-lover" src="book-lover.png" alt="book-lover">
    
    <section class="right-side">

        <div class="title">
            <h1 class="title__text">Cadastre-se</h1>
        </div>

        <form>
            <div class="div-input">
                <label for="">Nome</label>
                <input class="div-input__campo-input" type="text">
            </div>
            
            <div class="div-input">
                <label for="">E-mail</label>
                <input class="div-input__campo-input" type="email">
            </div>

            <div class="div-input">        
                <label for="">Senha</label>
                <input class="div-input__campo-input" type="password">
            </div>
            
            <div class="div-input">        
                <label for="">Confirmar senha</label>
                <input class="div-input__campo-input" type="password">
            </div>

            <button class="button-cadastrar" routerLink="/">Cadastrar</button>
        </form>
        
        <p class="text__cadastrar">Já possui conta? <a class="link__entrar" routerLink="/">Entrar</a></p>

    </section>
</main> 