<nav>
    <div class="titulo-logo">
        <img class="titulo-logo__img" src="white-bag.png" alt="white-bag">
        <p class="titulo-logo__text">Guia do mochileiro Fatecano</p>
    </div>
    <ul>
        <li>
            <a href="">
                <img src="home-logo.svg" alt="home">
                <p>Home</p>
            </a>
        </li>
        <li>
            <a href="">
                <img src="bell-logo.png" alt="notificacao">
                <p>Notificações</p>
            </a>
        </li>
        <li>
            <a href="">
                <img src="book-logo.png" alt="Materias">
                <p>Matérias</p>
            </a>
        </li>
        <li>
            <a href="">
                <img src="star-logo.png" alt="Valores">
                <p>Valores</p>
            </a>
        </li>
        <li>
            <a href="">
                <img src="login-logo.svg" alt="Sair">
                <p>Sair</p>
            </a>
        </li>
    </ul>
</nav>
