<header>
    <app-navbar></app-navbar>
</header>
<main>
    <section class="cabecalho">
        <div>
            <h1 class="cabecalho__title">Termos</h1>
            <h2 class="cabecalho__subtitle">Qual termo gostaria de acessar hoje?</h2>
        </div>

        <button class="add-turma">
            <img src="plus-logo.png" alt="plus">
            <p class="add-turma__text">Adicionar turma</p>
        </button>
    </section>

    <section class="cards">
            <button class="cards__card card__1" href="">1º Termo</button>
            
            <button class="cards__card card__2" href="">2º Termo</button>

            <button class="cards__card card__3" href="">3º Termo</button>

            <button class="cards__card card__4" href="">4º Termo</button>

            <button class="cards__card card__5" href="">5º Termo</button>

            <button class="cards__card card__6" href="">6º Termo</button>

    </section>

</main>
