<h1>TELA LOGIN</h1>
<main>
    <img src="learning-bro.png" alt="learning-bro">
    
    <section>
        <img src="green-bag.png" alt="green-bag">
        <h1>Guia do Mochileiro Fatecano</h1>

        <form action="">
            <div>
                <label for="">E-mail</label>
                <input type="email" placeholder="Digite seu e-mail">
            </div>
                
            <div>        
                <label for="">Senha</label>
                <input type="password" placeholder="Digite sua senha">
            </div>
        </form>

        <button>Entrar</button>

        <p>Ainda não possui conta? <a href="#">Cadastrar-se</a></p>

    </section>
</main>
