<main>
    <img class="img_learning_bro" src="learning-bro.png" alt="learning-bro">
    
    <section class="right-side">

        <div class="title">
            <img class="title__img" src="green-bag.png" alt="green-bag">
            <h1 class="title__text">Guia do Mochileiro Fatecano</h1>
        </div>

        <form>
            <div class="div-input">
                <label for="">E-mail</label>
                <input class="div-input__campo-input" type="email" placeholder="Digite seu e-mail">
            </div>
                
            <div class="div-input">        
                <label for="">Senha</label>
                <input class="div-input__campo-input" type="password" placeholder="Digite sua senha">
            </div>

            <button class="button-entrar">Entrar</button>
        </form>
        
        <p class="text__cadastrar">Ainda não possui conta? <a class="link__cadastrar" href="#">Cadastrar-se</a></p>

    </section>
</main>
